extends base
block content
    //- bulma css login form
    section.hero.has-background-link.is-fullheight 
        .hero-body
            .container
                .columns.is-centered
                    .column.is-5-tablet.is-4-desktop.is-4-widescreen
                        form.box#loginForm
                            .h3.has-text-centered.mb-5
                                strong Sistema de envio de alertas
                            .field
                                label.label(for='username') Nome de utilizador
                                .control
                                    input.input#username(type='name', name='username' placeholder='Nome de utilizador')
                            .field.mb-5
                                label.label(for='password') Palavra passe
                                .control
                                    input.input#password(type='password', name='password' placeholder='Palavra passe')
                            .field
                                .control
                                    button.button.is-link.is-fullwidth#submit(type='submit') Entrar
